{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<div class="container-lg my-2">
	<h1>Profile of {{user.username}}</h1>
	{% if request.user.username == user.username %}
	<hr>
	<h2>Settings:</h2>
	<div class="d-flex flex-row">
		<a class="neon-button secondaryAction m-3" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
		<a class="neon-button secondaryAction m-3" href="{% url 'update_profile' %}">{% trans "Update Profile" %}</a>
	</div>
	<hr>
	{% endif %}
	<div class="d-flex flex-column">
		<div class="d-flex flex-row my-2">
			{% if user.profile_pic %}
			<img src="{{ user.profile_pic.url }}" alt="Profile Picture" class="profile-pic">
			{% else %}
			<p>No profile picture available</p>
			{% endif %}
			<div class="m-2">
				<h2>{{ user.username }}</h2>
				<p class="text-muted fs-7">Created On: {{ user.created_on }}</p>
			</div>
		</div>
		<p class="m-0">Bio:</p>
		<p class="bio fst-italic">{{ user.bio }}</p>
	</div>
	<h2>All Threads from {{user.username}}:</h2>

	{% if user.posts.all %}
    <ul>
        {% for thread in user.posts.all %}
        <li>{{ thread.title }} - {{ thread.created_on }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No threads available for this user.</p>
    {% endif %}

</div>
{% endblock %}