{% extends "base.html" %}
{% block content %}
<h1>User Profile</h1>
{% if profiles %}
<p>Profile: {{ profiles.user.username }}</p>
<p>Request: {{ request.user }}</p>

{% if profile.user.username == request.user.username %}
<h2>You are the current user</h2>
{% endif %}
{% for profile in profiles %}
<div>
	<h2>{{ profile.user.username }}</h2>
	<p>Bio: {{ profile.bio }}</p>
	<p>Created On: {{ profile.created_on }}</p>
	{% if profile.profile_pic %}
	<img src="{{ profile.profile_pic.url }}" alt="Profile Picture">
	{% else %}
	<p>No profile picture available</p>
	{% endif %}
</div>
{% endfor %}
{% else %}
<p>No profiles found</p>
{% endif %}
{% endblock %}