{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
{{ block.super }}
{% if user.is_authenticated %}
<script src="{% static 'js/vote.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="bg-dark p-3">
	<div class="container-lg my-2">
		<!-- Settings for logged in users -->
		{% if request.user.username == user.username %}
		<a href="{% url 'user_settings' username=user.username %}" class="neon-button">Your Settings</a>
		{% endif %}
		<!-- User Info -->
		<div class="d-flex flex-column align-items-center">
			<div class="pt-5 d-flex md-rows align-items-center w-100 max-w-75">
				{% if user.profile_pic and user.profile_pic.url != "/img/False" %}
				<img src="{{ user.profile_pic.url }}" alt="Profile Picture" class="profile-pic bg-light rounded-circle">
				{% else %}
				<img src="{% static 'img/default.png' %}" alt="Profile Picture" class="profile-pic bg-light rounded-circle">
				{% endif %}
				<div class="bg-light text-dark w-75 p-2 m-3 text-center">
					<h1>{{ user.username }}</h1>
					<p>{{ user.bio }}</p>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<p class="bg-hl p-2 m-0">Member since: {{ user.created_on }}</p>
			</div>
			<div class="d-flex flex-row justify-content-center align-items-center py-2">
				<img src="{% static 'img/icons/star.svg' %}" alt="star" class="icon">
				{% if total_votes %}
				<p class="m-0 p-0 text-white px-2">{{ total_votes }}</p>
				{% else %}
				<p class="m-0 p-0 text-white px-2">Collected Upvotes: 0</p>
				{% endif %}
			</div>
		</div>
		<!-- END User Info -->
	</div>
</div>
<div class="d-flex flex-column bg-hl-pink h-100">
	<div class="container-lg p-3 h-100">
		<!-- Title -->
		<div class="bg-dark p-2 mb-2">
			{% if request.user.username == user.username %}
			<h2 class="text-white">All your Threads:</h2>
			{% else %}
			<h2 class="text-white">All Threads from {{user.username}}:</h2>
			{% endif %}
		</div>
		<!-- Users Treads -->
		{% if user.posts.all %}
		{% for thread in user.posts.all %}
			{% include '_thread_entry.html' %}
		{% endfor %}
		{% else %}
		<p>No threads available for this user.</p>
		{% endif %}
		<!-- END User Threads -->
	</div>
</div>
{% endblock %}
