/* Setting Global Variables */

:root {
	--color-text-dark: #001A23;
	--color-text-light: #FFFFFF;
	--color-highlight: #BAFF2A;
	--color-background: #FFFFFF;
	--color-background-highlight: #F52789;
}

.bg-yellow {
	background-color: #FFFF33;
}


.logo {
	font-family: 'Permanent Marker', cursive;
	color: var(--color-text-dark);
	/* Fallback for iOS */
	text-decoration: none;
	text-decoration: transparent;
}

.profile-pic {
	width: 100px;
	height: 100px;
	border: 2px solid var(--color-text-dark);
}

.bio {
	background-color: var(--color-highlight);
	color: var(--color-text-dark);
	padding: 10px;
	border: solid;
}

.header-gif {
	width: 80%;
}

.banner-content {
	background-color: var(--color-text-dark);
	color: var(--color-text-light);
}

.circle {
	background-color: var(--color-background-highlight);
	color: var(--color-text-light);
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50px;
}

.icon {
	width: 30px;
	height: 30px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Alatsi', sans-serif;
	text-wrap: pretty;
}

.link {
	color: var(--color-background-highlight);
}

.link:hover {
	background-color: var(--color-background-highlight);
	color: var(--color-text-light);
}

.link:hover h2{
	background-color: var(--color-background-highlight);
}

.bg-hl {
	background-color: var(--color-highlight);
}

.bg-hl-pink {
	background-color: var(--color-background-highlight);
}

.color-dark {
	color: var(--color-text-dark);
}

.bg-light {
	background-color: var(--color-text-light);
}

.banner-box {
	border: 2px solid var(--color-text-light);
	box-shadow: -8px -8px 0px 1px var(--color-text-light);
}

.font-marker {
	font-family: 'Permanent Marker', cursive;
}

.neon-button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	/* Fallback for iOS: */
	text-decoration: none;
	text-decoration: transparent;
	-webkit-box-shadow: 8px 8px 0px 1px var(--color-highlight);
	box-shadow: 8px 8px 0px 1px var(--color-highlight);
}

.neon-button:hover {
	-webkit-box-shadow: 8px 8px 0px 1px var(--color-background-highlight);
	box-shadow: 8px 8px 0px 1px var(--color-background-highlight);
	color: var(--color-text-light);
}

.button-pink {
	background-color: var(--color-background-highlight);
	color: white;
	padding: 10px 20px;
	/* Fallback for iOS: */
	text-decoration: none;
	text-decoration: transparent;
	-webkit-box-shadow: 8px 8px 0px 1px var(--color-text-light);
	box-shadow: 8px 8px 0px 1px var(--color-text-light);
}

.button-pink:hover {
	background-color: var(--color-highlight);
	color: var(--color-text-dark);
}

.toogle-button {
	background-color: var(--color-text-light);
	color: var(--color-text-dark);
	padding: 10px 20px;
	/* Fallback for iOS: */
	text-decoration: none;
	text-decoration: transparent;
	border: 2px solid var(--color-text-dark);
}

.toogle-button-active {
	background-color: var(--color-background-highlight);
	color: var(--color-text-light);
}

a {
	/* Fallback for iOS: */
	text-decoration: none;
	text-decoration: transparent;
}

.tag {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--color-highlight);
	border: 2px solid var(--color-highlight);
	color: var(--color-text-dark);
}

.tag:hover {
	background-color: var(--color-text-light);
}

.rotate-180 {
	transform: rotate(180deg);
}

.md-show {
	display: none;
}

@include media-breakpoint-up(md) {
	.rows {
		display: flex;
		flex-direction: row;
	}
}
@include media-breakpoint-up(md) {
	.md-show {
		display: flex;
	}
}

@include media-breakpoint-up(md) {
	.rows {
		display: flex;
		flex-direction: row;
	}
}

/* Overwright Bootstrap classes*/
.btn {
	color: var(--color-text-dark);
	background-color: var(--color-highlight);
	border-radius: 0px;
	border-color: var(--color-highlight);
}

.btn:hover {
	color: var(--color-text-light);
	background-color: var(--color-background-highlight);
	border-color: var(--color-background-highlight);
}

.btn-danger {
	color: var(--color-text-light);
	background-color: var(--color-background-highlight);
	border-color: var(--color-background-highlight);
}

.btn-danger {
	color: var(--color-text-light);
	background-color: var(--color-text-dark);
	border-color: var(--color-text-dark);
}

.fs-7 {
	font-size: 0.7em;
}

.card {
	border: 2px solid var(--color-text-dark);
	border-radius: 0;
}

.card-title {
	color: var(--color-text-dark);
	/* Fallback for iOS: */
	text-decoration: none;
	text-decoration: transparent;
}

.card-title:hover {
	background-color: var(--color-highlight);
	color: var(--color-text-dark);
}

.navbar-collapse {
	flex-grow: 0;
}

.nav-link {
	font-family: 'Alatsi', sans-serif;
}