/* Setting Global Variables */

:root {
	--color-text-dark: #001A23;
	--color-text-light: #FFFFFF;
	--color-highlight: #BAFF2A;
	--color-background: #FFFFFF;
	--color-background-highlight: #F52789;
}


.logo {
	font-family: 'Permanent Marker', cursive;
	color: var(--color-text-dark);
	/* Fallback for iOS */
	text-decoration: none;
	text-decoration: transparent;
}

.header-gif {
	width: 80%;
}

.banner-content {
	background-color: var(--color-text-dark);
	color: var(--color-text-light);
}

.circle {
	background-color: var(--color-background-highlight);
	color: var(--color-text-light);
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Alatsi', sans-serif;
	text-wrap: pretty;
}

a {
	color: var(--color-background-highlight);
}

.bg-hl {
	background-color: var(--color-highlight);
}

.bg-hl-pink {
	background-color: var(--color-background-highlight);
}

.color-dark {
	color: var(--color-text-dark);
}

.bg-light {
	background-color: var(--color-text-light);
}

.banner-box {
	border: 2px solid var(--color-text-light);
  box-shadow: 8px 8px 0px 1px var(--color-text-light);
}

.font-marker {
	font-family: 'Permanent Marker', cursive;
}

.neon-button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	/* Fallback for iOS: */
	text-decoration: none;
	text-decoration: transparent;
	-webkit-box-shadow: 8px 8px 0px 1px var(--color-highlight);
	box-shadow: 8px 8px 0px 1px var(--color-highlight);
}

.menu-icon {
	width: 30px;
	height: 30px;
}

/* Overwright Bootstrap classes*/

.fs-7{
	font-size: 0.7em;
}

.card {
	border: 2px solid var(--color-text-dark);
  border-radius: 0;
}

.navbar-collapse {
	flex-grow: 0;
}

.nav-link {
	font-family: 'Alatsi', sans-serif;
}