{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- index.html content starts here -->
{% if not request.user.is_authenticated %}
<!-- Header -->
<div class="container-fluid text-center mx-auto bg-hl py-5">
    <h1 class="text-uppercase font-marker">Welcome to</h1>
    <IMG SRC="static/img/weaver-green.gif" alt="weaver" class="header-gif">
</div>
<div class="banner-content p-5 d-flex justify-content-center">
    <div class="d-flex flex-column md-w-60">
        <h2 class="banner-box p-2">Threads of Thought, Waves of Conversation.</h2>
        <p class="my-5">Welcome to Weaver, where ideas become conversations. Sign up or log in now and let your words weave the story of tomorrow.</p>
        <a href={% url 'info' %} class="button-pink align-self-end"> How Weaver works</a>
    </div>
</div>
{% endif %}
<!-- END Header -->
<!-- Global Timeline -->
<div class="container-lg py-3">
    <!-- Timeline Info -->
    <h1 class="py-4 text-center text-uppercase">Global Timeline</h1>
    {% if request.user.is_authenticated %}
    <a href={% url 'create_thread' %} class="neon-button ps-1"><img src="{% static 'img/icons/add.svg' %}" alt="" class="icon"> New Thread</a>
    <p class="py-4">Welcome to the global timeline.<br>Choose between the "Global Timeline" with all posts, or check out your personal "Tag based Timeline" that contains all the Tags you follow.</p>
    <div class="d-flex md-rows">
        <a href={% url 'home' %} class="toogle-button mt-2 toogle-button-active">Global Timeline</a>
        <a href={% url 'timeline' %} class="toogle-button mt-2 md-ms-2">Tag-based Timeline</a>
    </div>
    {% endif %}
    <div class="row">
        <!-- Thread Entries -->
        <div class="mt-3 left">
            <div class="row">
                {% for thread in thread_list %}
                <div class="card my-2 d-flex flex-row">
                    <div class="d-flex flex-column align-items-center">
                        <!-- Voting -->
                        <form action="{% url 'upvote_thread' thread_id=thread.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="upvote" class="icon m-2"></button>
                        </form>
                        <p class="circle m-0">{{ thread.votes }}</p>
                        <form action="{% url 'downvote_thread' thread_id=thread.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="downvote" class="icon m-2 rotate-180"></button>
                        </form>
                        <!-- Tags -->
                        {% for tag in thread.tags.all %}
                        <a href="{% url 'tag_site' slug=tag.slug %}">
                            <p class="tag">{{ tag }}</p>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- Thread Body -->
                    <div class="card-body d-flex flex-column">
                        <h2><a href="{% url 'thread_detail' thread_id=thread.id slug=thread.slug %}" class="card-title text-break">{{ thread.title }}</a></h2>
                        <div class="d-flex flex-row justify-content-between">
                            <p class="fs-7">by <a href="{% url 'user_profile' username=thread.author %}" class="link">{{ thread.author }}</a></p>
                            <p class="card-text text-muted fs-7">{{ thread.created_on}}
                        </div>
                        <p class="card-text">{{ thread.content|truncatechars:500 }}</p>
                        <a href="{% url 'thread_detail' thread_id=thread.id slug=thread.slug %}" class="neon-button align-self-end">Full thread</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- END threads -->
    </div>
    <!-- Pagination -->
    <div class='pagination justify-content-center'>
        {% if page_obj.has_previous %}
        <a href='{% url "home" %}?page={{ page_obj.previous_page_number }}' class="link">Previous </a>
        {% endif %}
        <span class='mx-4'>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href='{% url "home" %}?page={{ page_obj.next_page_number }}' class="link"> Next</a>
        {% endif %}
    </div>
    <!-- END Pagination -->
</div>
<!-- index.html content ends here -->
{% endblock %}