{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- index.html content starts here -->
<div class="container-lg pt-3">
    <h1>Everything about: {{ tag.name }}</h1>
    <!-- Follow or Unfollow Button -->
    {% if request.user.is_authenticated %}
    {% if user_follows_tag %}
    <form method="post" action="{% url 'unfollow_tag' %}" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="tag_name" value="{{ tag.name }}">
        <button type="submit" class="neon-button">Unfollow this Tag</button>
    </form>
    {% else %}
    <form method="post" action="{% url 'follow_tag' %}" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="tag_name" value="{{ tag.name }}">
        <button type="submit" class="neon-button">Follow this Tag</button>
    </form>
    {% endif %}
    {% endif %}
    <div class="row">
        <!-- Thread Entries -->
        <div class="mt-3 left">
            <div class="row">
                {% for thread in thread_list %}
                <div class="card my-2 d-flex flex-row">
                    <div class="d-flex flex-column align-items-center">
                        <!-- Voting -->
                        <form action="{% url 'upvote_thread' thread_id=thread.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="upvote" class="icon m-2 {% if request.user.is_authenticated and thread.has_upvoted %}circle bg-yellow{% endif %}"></button>
                        </form>
                        <p class="circle text-light bg-hl-pink m-0">{{ thread.votes }}</p>
                        <form action="{% url 'downvote_thread' thread_id=thread.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="downvote" class="icon m-2 rotate-180 {% if request.user.is_authenticated and thread.has_downvoted %}circle bg-yellow{% endif %}"></button>
                        </form>
                        <!-- Tags -->
                        {% for tag in thread.tags.all %}
                        <a href="{% url 'tag_site' slug=tag.slug %}">
                            <p class="tag">{{ tag }}</p>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- Thread Body -->
                    <div class="card-body d-flex flex-column">
                        <h2><a href="{% url 'thread_detail' thread_id=thread.id slug=thread.slug %}" class="card-title text-break">{{ thread.title }}</a></h2>
                        <div class="d-flex flex-row justify-content-between">
                            <p class="fs-7">by <a href="{% url 'user_profile' username=thread.author %}" class="link">{{ thread.author }}</a></p>
                            <p class="card-text text-muted fs-7">{{ thread.created_on}}
                        </div>
                        <p class="card-text">{{ thread.content|truncatechars:500 }}</p>
                        <a href="{% url 'thread_detail' thread_id=thread.id slug=thread.slug %}" class="neon-button align-self-end">Full thread</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}