{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
{% if user.is_authenticated %}
<script src="{% static 'js/vote.js' %}"></script>
{% endif %}
{% endblock %}


{% block content %}
<!-- index.html content starts here -->
<div class="container-lg pt-3">
    <h1>Everything about: {{ tag.name }}</h1>
    <!-- Follow or Unfollow Button -->
    {% if request.user.is_authenticated %}
    {% if user_follows_tag %}
    <form method="post" action="{% url 'unfollow_tag' %}" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="tag_name" value="{{ tag.name }}">
        <button type="submit" class="neon-button">Unfollow this Tag</button>
    </form>
    {% else %}
    <form method="post" action="{% url 'follow_tag' %}" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="tag_name" value="{{ tag.name }}">
        <button type="submit" class="neon-button">Follow this Tag</button>
    </form>
    {% endif %}
    {% endif %}
    <div class="row">
        <!-- Thread Entries -->
        <div class="mt-3 left">
            <div class="row">
                {% for thread in thread_list %}
                    {% include '_thread_entry.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}
