{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Display the Thread -->
<div class="card my-2">
    {% if request.user.is_authenticated %}
    <p>Votes: {{ thread.votes }}</p>
    <button onclick="up_Vote('{{ thread.id }}')">Up Vote</button>
    <button onclick="down_Vote('{{ thread.id }}')">Down Vote</button>
    {% endif %}
    {% for tag in thread.tags.all %}
    <p>{{ tag }}</p>
    {% endfor %}
    <div class="card-body d-flex flex-column">
        <h2 class="card-title">{{ thread.title }}</h2>
        <div class="d-flex flex-row justify-content-between">
            <p class="fs-7">by <a href="{% url 'user_profile' username=thread.author %}">{{ thread.author }}</a></p>
            <p class="card-text text-muted fs-7">{{ thread.created_on }}</p>
        </div>
        <p class="card-text">{{ thread.content }}</p>
    </div>
</div>
<!-- Display comments -->
<h2>Comments</h2>
{% for comment in comments %}
<div class="comment">
    <p><a href="{% url 'user_profile' username=comment.author %}">{{ comment.author }}</a> said: "{{ comment.body }}"</p>
</div>
{% endfor %}
<!-- Comment form -->
{% if request.user.is_authenticated %}
<h2>Leave a Comment</h2>
<form method="post" action="{% url 'add_comment' thread.slug %}">
    {% csrf_token %}
    {% crispy comment_form %}
</form>
{% endif %}
{% endblock %}