{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Display the Thread -->
<div class="container-lg">
    <div class="d-flex flex-row align-items-center justify-content-center m-2">
        <!-- Tags: -->
        <p class="m-0">Tags:</p>
        {% for tag in thread.tags.all %}
        <a href="{% url 'tag_site' slug=tag.slug %}">
            <p class="tag m-0 mx-1">{{ tag }}</p>
            {% endfor %}
        </a>
    </div>
    <div class="my-2 d-flex flex-row">
        <div class="d-flex flex-column align-items-center">
            <!-- Voting -->
            <form action="{% url 'upvote_thread' thread_id=thread.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="upvote" class="icon m-2 {% if request.user.is_authenticated and thread.has_upvoted %}circle bg-yellow{% endif %}"></button>
            </form>
            <p class="circle text-light bg-hl-pink m-0">{{ thread.votes }}</p>
            <form action="{% url 'downvote_thread' thread_id=thread.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="downvote" class="icon m-2 rotate-180 {% if request.user.is_authenticated and thread.has_downvoted %}circle bg-yellow{% endif %}"></button>
            </form>
        </div>
        <!-- Thread Body -->
        <div class="card-body d-flex flex-column">
            <h2 class="text-break"><a href="{% url 'thread_detail' thread_id=thread.id slug=thread.slug %}" class="card-title text-break">{{ thread.title }}</a></h2>
            <div class="d-flex flex-row justify-content-between">
                <p class="fs-7">by <a href="{% url 'user_profile' username=thread.author %}" class="link">{{ thread.author }}</a></p>
                <p class="card-text text-muted fs-7">{{ thread.created_on}}</p>
            </div>
            <p class="card-text text-break">{{ thread.content_html|safe }}</p>
            {% if thread.picture %}
            <img src="{{ thread.picture.url }}" class="w-100">
            {% endif %}
        </div>
        <!-- Add edit and delete buttons for the thread -->
        {% if user.is_authenticated and user == thread.author %}
        <div class="d-flex flex-column">
            <a href="{% url 'edit_thread' thread_id=thread.id %}" class="neon-button"><img src="{% static 'img/icons/edit.svg' %}" class="icon"><span class="ms-2 md-show">Edit Thread</span></a>
            <a href="{% url 'delete_thread' thread_id=thread.id %}" class="neon-button mt-3"><img src="{% static 'img/icons/delete.svg' %}" class="icon"><span class="ms-2 md-show">Delete Thread</span></a>
        </div>
        {% endif %}
    </div>
</div>
<!-- Display comments -->
<div class="container-lg">
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
            <div class="p-2">
                <!-- Voting for Comments -->
                <form action="{% url 'upvote_comment' comment_id=comment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="upvote" class="icon m-2 {% if request.user.is_authenticated and comment.has_upvoted %}circle bg-yellow{% endif %}"></button>
                </form>
                <p class="circle text-light bg-hl-pink m-0">{{ comment.votes }}</p>
                <form action="{% url 'downvote_comment' comment_id=comment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="rm-btn"><img src="{% static 'img/icons/up.svg' %}" alt="upvote" class="icon m-2 rotate-180 {% if request.user.is_authenticated and comment.has_downvoted %}circle bg-yellow{% endif %}"></button>
                </form>
            </div>
            <div>
                <a href="{% url 'user_profile' username=comment.author %}" class="link">
                    <h2>{{ comment.author }}:</h2>
                </a>
                <p class="card-text text-muted fs-7">{{ comment.created_on}}</p>
            </div>
        </div>
        <div class="comment">
            <p class="text-break">{{ comment.body_html|safe }}</p>
        </div>
        <!-- Add edit and delete buttons for the comment -->
        {% if user.is_authenticated and user == comment.author %}
        <div>
            <a href="{% url 'edit_comment' comment_id=comment.id %}" class="neon-button"><img src="{% static 'img/icons/edit.svg' %}" class="icon"><span class="ms-2 md-show">Edit Comment</span></a>
            <a href="{% url 'delete_comment' comment_id=comment.id %}" class="neon-button ms-3"><img src="{% static 'img/icons/delete.svg' %}" class="icon"><span class="ms-2 md-show">Delete Comment</span></a>
        </div>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <h2>Leave a Comment</h2>
    <form method="post" action="{% url 'add_comment' thread_id=thread.id %}">
        {% csrf_token %}
        {% crispy comment_form %}
    </form>
    {% endif %}
</div>
{% endblock %}